*{
    box-sizing: border-box;
}
body {
    margin: 0 auto;
    background: black;
    color: white;
    font-family: 'Raleway', sans-serif;
}
.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5em;
}
h1{
    font-size: 2rem;
    letter-spacing: 3px;
    margin-top: 0;
    border-top: 7px solid white;
    padding: .25em .5em 0;
}
.quote-container {
    width: 60%;
    height: 40vh;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(0, 0, 0, 0.545);
}
.quotes {
    padding: 1em;
    text-align: center;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.844);
}
.quote-btn {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    background: inherit;
    color: white;
    border: 1px solid white;
    padding: .35em 1.5em;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 3px;
    transition-duration: 0.4s;
}
.quote-btn:hover {
    color: yellow;
}

@media (min-width: 700px) {
    .quote-container {
        width: 40%;
    }
    .quotes {
        max-width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
}